<html>
    <centre><h2> Campaign Tables</h2>
    <a href="{{ url_for('home') }}" > Back to Home </a>
    <br>
    <br>
    <br>
    <a href="{{ url_for('Add_Campaign') }}"> New Campaign </a> 
    <table>
        <tr>
            <td> Campaign Name </td>
            <td> Campaign Setting </td>
            <td> Operations </td>
        </tr>
        
        {% for record in records %}

        <tr>
            <td><a href="{{ url_for('Campaign_Info', Campaign_ID=record.Campaign_ID)}} ">{{ record.Campaign_Name }}</a> </td>
            <td>{{ record.Campaign_Setting }}</td>
            <td><a href="{{ url_for('Edit_Campaign', Campaign_ID=record.Campaign_ID)}} "> Edit </a> <a href="{{ url_for('Delete_Campaign', Campaign_ID=record.Campaign_ID)}} "> Delete</a></td>
        </tr>

    </table>

        {% endfor %}
    </centre>
</html>